@import 'tailwindcss';

@theme {
  --font-sans: 'Pretendard', ui-sans-serif, system-ui, sans-serif;
  --font-serif: 'Pretendard', ui-sans-serif, system-ui, sans-serif;
}

#custom-cursor.hover-state {
  width: 60px;
  height: 60px;
  background-color: #f0f0f0;
  mix-blend-mode: normal;
}
#custom-cursor::after {
  content: attr(data-text);
}
.preserve-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}